* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

body {
    background-color: #ffeff2;
    font-family: 'Roboto', sans-serif;
}

main {
    border-radius: 5px;
    position: absolute;
    background-color: #f75590;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 1px;
}

button[type="submit"] {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
    background-color: #fff;
    color: #F75590;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 1px;
}
button[type="submit"]:hover {
    background-color: #F75590;
    border: #fff 2px solid;
    color: #fff;
}
.todo-item {
    font-size: x-small;
    animation: forwards 0.25s ease-in-out appear;
    background-color: rgba(247,85,144,1);
    border: solid 3px rgba(255,255,255,0.5);
    box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 1px;
    padding: 10px;
    border-radius: 5px;
}

.todo-title {
    font-size: small;
}

.todo-info {
    margin: 7px;
    display: flex;
    flex-direction: column;
}

.todo-desc {
    overflow-wrap: anywhere;
    width: 50%;
}

.todo-info .todo-desc {
    float: left;
}

.todo-buttons {
    align-self: end;
    margin: 15px 0;
}

.todo-info .todo-date {
    float: right;
}

.todo-info a {
    font-size: x-small;
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.todo-not-done, .todo-done {
    color: #F75590;
    background-color: white;
    border: #F75590 2px solid;
    border: white 2px solid;
}

.todo-delete {
    color: white;
    background-color: #F75590;
    border: white 2px solid;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#todo-container {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffeff2;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 1px;
}

footer {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    background-color: #F75590;
    color: #fff;
    font-size: x-small;
}

a {
    text-decoration: none;
    color: white;
}

footer a {
    font-weight: bolder;
    color: #fff;
    text-decoration: underline;
}

input[type="range"] {
    scale: 0.7;
}